.cart-wrapper {
    max-width: 96%;
    margin: 0 auto;
    background: #f4f6f7;
    padding: 6px;
}

.cart-wrapper h2 {
    text-align: center;
}

.cart-wrapper li {
    display: flex;
    align-items: center;
    list-style-type: none;
    padding: 12px;
    font-size: 22px;
}

.cart-item-price {
    color: green;
}

.confirm-button {
    padding: 6px;
    margin-right: 6px;
}

.cart-item-image {
    width: 80px; 
    height: 60px;
    margin-right: 10px;
}

/* Styling for form fields */
.form-field {
    margin: 20px 50px;
  }
  
  label {
    display: block;
    font-weight: bold;
  }
  
  input[type="text"],
  input[type="number"] {
    width: 40%;
    padding: 6px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .error-message {
    color: red;
    font-size: 14px;
    margin-top: 5px;
  }
  
  /* Styling for the "Checkout" button */
  .checkout-button {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 50px;
  }
  
  .checkout-button:hover {
    background-color: #0056b3;
  }