.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  .modal {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
    position: relative;
    text-align: center;
    max-width: 80%;
    max-height: 80%;
    overflow-y: auto;
  }
  
  .close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
  }
  
  .modal-header {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .modal-text {
    font-size: 18px;
    margin-bottom: 20px;
  }
  
  .modal-actions {
    display: flex;
    justify-content: center;
    gap: 10px;
  }

  .modal li {
    list-style-type: none;
    padding: 5px;
    text-align: left;
    margin: 10px;
  }

  #cart-confirmation-message {
    font-size: 22px;
    color: #037e3e;
    font-weight: 700;
  }

  ul li span {
    margin-right: 10px; /* Adjust the value to control the spacing */
  }
  