.custom-button {
  position: fixed;
  top: 20%;
  right: 1%;
  padding: 10px 22px;
  border: none;
  border-radius: 4px;
  color: #fff;
  background: green;
  cursor: pointer;
  outline: none;
  transition: background-color 0.3s;

  &:hover {
    background-color: #333;
  }
}

.cart {
  position: fixed;
  top: 12%;
  right: 1%;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  color: #fff;
  background: #057d91;
  cursor: pointer;
  outline: none;
  transition: background-color 0.3s;

  &:hover {
    background-color: #333;
  }
}

.itemsInCart {
  background: orange;
}