.links {
  display: flex;
  justify-content: left;
  align-items: center;
  background: #4b6b6e;
  height: 50px;
}

.links li {
  list-style-type: none;
  margin-right: 40px;
}

.links li a {
  text-decoration: none;
  color: #fff;
}

.links li a:hover {
  color: orange;
}

.modal-item-image {
  height: 50px;
  width: 80px;
}

.modal li {
  display: flex;
  align-items: center;
}

.last-added {
  font-size: 22px;
}