.product-list {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    list-style: none;
    padding: 0;
  }

  .product-list ul {
    display: flex;
    justify-content: center;
    margin-right: 40px;
    flex-wrap: wrap;
  }
  
  .product-list li {
    list-style-type: none;
    border: 1px solid #ccc;
    padding: 20px;
    text-align: center;
    margin: 14px; 
    box-sizing: border-box;
    width: 350px;
  }
  
  .product-list img {
    height: 200px;
    width: 250px;
  }
  
  .product-list button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px; 
    margin: 10px auto;
    padding: 2px;
  }

  // Favorites star
  .favorite-star {
    font-size: 24px;
    background: none;
    border: none;
    color: #000;
    cursor: pointer;
  }

/* Styles for the active star */
.favorite-star.active {
  color: gold;
}

  